*{
	outline :0px ;
	margin :0px ;
	padding: 0px ;
	
}
body{
/* background: #F1F1F1 url(../img/bg.png) repeat-x left top;
font-family: "Droid Arabic Kufi", sans-serif;*/
font-size: 12px;  
line-height: 1.6;
color :#ef1053;
font-family: Tahoma ;
direction :rtl ;
background :#acacac;
overflow-x: scroll;
overflow-y: hidden;
	
}

.box{
    /*padding:5px;*/
	background-color: #fff;
	margin-top:120px;
	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	margin-left:auto;
	margin-right:auto;
	/*width:600px;*/
	/*margin-bottom:10px;*/
}

.list-unstyled{
    padding-left:0;
    list-style:none
}
.list-inline{
    padding-left:0;
    list-style:none
}
.list-inline>li{
    display:inline-block;
    padding-right:5px;
    padding-left:5px
}
h3
{
size: 22px;
color: black ;
margin: 5px;
   
}
tr{
    background-color: #fff;
	margin-top:120px;
	border: 2px solid black;
}
.fontlin{
size: 18px;
color: black ;
alignment-adjust: central;
    
    
    
}

#runButton{
    padding: 10px ;
    margin: 10px ;
    
    
}